<section class="about_section layout_padding" style="padding-left:0px;">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 col-lg-5 ">
                <div class="img-box">
                    <img src="~/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>
                    </div>
                    <p>
                        WatchSpace is a watch retailer that partners with trusted and reputable watch brands such as Rolex, Omega, Breitling, and Tag Heuer. The website offers an extensive collection of watches, which can be easily filtered by brand, price, and style. Detailed descriptions and high-quality images of the watches are provided to help customers make informed decisions. In addition to watches, WatchSpace also offers accessories such as watch straps, watch winders, and cleaning products. The company has a team of watch experts available to answer any customer questions. WatchSpace also provides secure payments, fast shipping, and hassle-free returns to ensure a seamless shopping experience for its customers.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

