
@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Send Message to Customers!</h1>
            </div>
          
            </div>
        </div>  
    </div>


<div class="row mt-5">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label> Message</label>
                    <textarea class="form-control" id="Txt_Msg" rows="3"></textarea>
                </div>
            </div>
            <div class="col-sm-6 mt-4">
                <div class="form-group">
                    <button type="button" id="BtnSend" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/toastr/toastr.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/toastr/toastr.js"></script>

<script>

    $(document).ready(function () {

        $(document).on("click", "#BtnSend", function () {
            var message = $("#Txt_Msg").val();
            if (message == undefined || message == null || message == "") {
                toastr.warning("Please Enter Message");
                return false;
            }
            $(".PageLoader").removeClass("d-none");
            $.ajax({
                url: '/Admin/SendMail',
                type: 'POST',
                data: { Message: message },
                success: function (result) {
                    if (result == true) {
                        toastr.success("Message send successfully!");
                    } else {
                        toastr.error("Something went wrong. Please try again later.");
                    }
                    $(".PageLoader").addClass("d-none");
                }
            });
        });
    });

</script>