

<body>

    <section class="contact_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <div class="heading_container">
                            <h2>
                                Enter Email to Recover!
                            </h2>
                        </div>

                            <div class="card-body">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" id="Txt_Email" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mt-4">
                                            <div class="form-group">
                                                <button type="button" id="BtnForgot" class="btn">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="~/images/contact-img.jpg" style=" border-radius:25px;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


<link href="~/toastr/toastr.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/toastr/toastr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>


<script>

    $(document).ready(function () {

        $(document).on("click", "#BtnForgot", function () {
            var Email = $("#Txt_Email").val();
            if (Email == undefined || Email == null || Email == "") {
                toastr.warning("Please Enter Email");
                return false;
            } 
            var model = {
                Email: Email,
            };
            var jsonData = JSON.stringify(model);
            var data = {
                'TextContent': jsonData
            };
            $.ajax({
                url: '/Users/ForgotPassword/',
                type: 'POST',
                data: data,
                success: function (result) {
                    if (result == true) {
                        toastr.success("Please check your email, to reset your password.");
                    } else {
                        toastr.error("Something went wrong! Please try again.");
                    }
                    setTimeout(function () {
                        window.location.href = "/Users/Login";
                    }, 5000);
                }
            });

        });

    });

</script>